body{
    background-image: url(https://cdn.discordapp.com/attachments/940390612610465865/1261176193156124682/descarga_7.jpg?ex=6692aa1b&is=6691589b&hm=a01150dd0a5e97070409e5f36179cd5eb0ebed40800ce214c8d2ede20897fcf8&);
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
}
header h1::first-letter{
    color: yellow;
}
header h1{
    text-shadow: 8px 8px 8px black,
    -1px 8px 8px black,
     -1px 8px 8px black,
    -1px 8px 8px black;
    color: white; 
}
.cancionesO{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.mapitas a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 210, 0);
    margin-top: 18px;
    width: 200px;
    height: 40px;
    border-radius: 16px;
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    transition-duration: 0.3s;
}
.mapitas>a:hover{
    color: white;
    background-color: rgb(185, 158, 5);
    transition-duration: 0.3s;
}
@media (max-width:728px){
    .cancionesO{
        display: grid;
        grid-template-columns: 1fr;
    }
    .mapitas{
        margin-left: 27%;
        border-radius: 12px;
    }
}
@media (max-width:280px){
    .cancionesO{
        display: grid;
        grid-template-columns: 1fr;
    }
    .mapitas{
        margin-left: 15%;
    }
}