body{
    background: linear-gradient(to left,green, red);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}
div{
   
    background-color: rgb(241, 197, 0);
    border-radius: 8px;
    width: 498px;
}
div:hover{
    cursor: pointer;
    background-color: rgb(206, 175, 0);
}